/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light .page {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --show-rec: none;
  --color-title: #ffc2e6;
  --color-text-main: #353430;
  --color-text: #353430;
  --underline-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-main: #353430;
  --color-hover-button-menu: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --color-title: #ffc2e6;
    --show-rec: none;
    --color-text-main: #353430;
    --color-text: #353430;
    --underline-color: #353430;
    --accent-color-main: #353430;
    --accent-color: #ff8dcb;
    --color-hover-button-menu: rgba(50, 49, 45, 0.4);
  }
}
